.container {
    padding: 50px;

    div{
        padding: 15px;
    }
}

.example-container {
    display: flex;
    flex-direction: column;
    padding: 5px;
  }
  
  .example-container > * {
    width: 100%;
  }
  
  .example-container form {
    margin-bottom: 20px;
  }
  
  .example-container form > * {
    margin: 5px 0;
  }

  td {
    padding-bottom: 5px;
  }