<div class="container px-8">
  <div class="row gx-5">
    <div class="col mt-5">
      <div class="p-3 border bg-light">
        <app-firstcomponent></app-firstcomponent>
      </div>
    </div>
    <div class="col mt-5">
      <div>
        <app-secondcomponent></app-secondcomponent>
      </div>
    </div>
  </div>
  <div class="row gx-5">
    <div class="col mt-5">
      <div class="p-3 border bg-light">
        <app-thirdcomponent></app-thirdcomponent>
      </div>
    </div>

  </div>
</div>