.container {
    padding: 50px;

    div{
        padding: 15px;
    }
}
.draggable-box {
    width: 120px;
    height: 120px;
    background-color: #34db4d;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
  }